// ------------------------------------------------------------
//  XS
// ------------------------------------------------------------

.div {
  transition: all 1s cubic-bezier(0.25, 1, 0.3, 1) 1s;
}

.logo {
  position: relative;
}

.div:global(.isEntering) {
  opacity: 0;
}

// ------------------------------------------------------------
//  MD
// ------------------------------------------------------------

// @include media("md") {
// }

// ------------------------------------------------------------
//  LG
// ------------------------------------------------------------

// @include media("lg") {
// }
